<!DOCTYPE html>

<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
		<title>Small Game</title>
		<meta name="description" content="small game" />
		<meta name="keywords" content="nodejs es6" />
		<link rel="stylesheet" type="text/css" href="default.css" />		
	</head>
	
		<div class="section">

			<div style="margin-bottom:50px;"><h2 id="win-results"></h2></div>	
			<div class="row">
				<div class="col-1">					
					<img  id="image1" src="Symbol_0.png"/>
				</div>
				<div class="col-2">
					<img id="image2" src="Symbol_0.png"/ >
				</div>
				<div class="col-3">
					<img id="image3" src="Symbol_0.png" />
				</div>					
			</div>	
			<div class="centerbutton">
				<img  id="imgbutton" src="button.png"/>
			</div>

		</div>
  		<script src="client.js"></script>
</html>
